{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Trendz Make</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="text/javascript">
	var user = '{{request.user}}'

	function getToken(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== ''){
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++){
				var cookie = cookies[i].trim();
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(
						name.length + 1));
				break;
				}
			}
		}
		return cookieValue;
	}
	var csrftoken = getToken('csrftoken');


	function getCookie(name) {

		var cookieArr = document.cookie.split(";");

		for(var i = 0; i < cookieArr.length; i++){
			var cookiePair = cookieArr[i].split("=");

			if(name == cookiePair[0].trim()) {

				return decodeURIComponent(cookiePair[1]);
			}
		}

		return null;

	}

	var cart = JSON.parse(getCookie('cart'))
	if(cart == undefined){
		cart = {}
		console.log('Cart was created!')
		document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}

	console.log('Cart:', cart)

</script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<!--flex slider-->
<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
<script>
	// Can also be used with $(document).ready()
	$(window).load(function() {
	  $('.flexslider').flexslider({
		animation: "slide",
		controlNav: "thumbnails"
	  });
	});
</script>
<!--flex slider-->
<script src="{% static 'js/imagezoom.js' %}"></script>
</head>

<body>
<div class="header-top-w3layouts">
	<div class="container">
		<div class="col-md-4 logo-w3">
			<a href="/"><img src="{% static 'images/logo2.png' %}" alt=" " /><h1>TRENDZ<span>Make</span></h1></a>
		</div>
		<div class="col-md-8 phone-w3l">
			<ul>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
				<li>+917507473366</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="header-bottom-w3ls">
	<div class="container">
		<div class="col-md-7 navigation-agileits">
			<nav class="navbar navbar-default">
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav ">
						<li><a href="/" class="hyper "><span>Home</span></a></li>
<!--						<li class="dropdown">-->
<!--							<a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Store<b class="caret"></b></span></a>-->
<!--								<ul class="dropdown-menu multi">-->
<!--									<div class="row">-->
<!--										<div class="col-sm-4">-->
<!--											<ul class="multi-column-dropdown">-->

<!--												<li><a href="women.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Women's Fashion</a></li>-->
<!--												<li><a href="products.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's Fashions</a></li>-->
<!--												<li><a href="products.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Kid's Fashion</a></li>-->
<!--												<li><a href="products.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Daily Needs</a></li>-->

<!--											</ul>-->

<!--										</div>-->
<!--										<div class="col-sm-4">-->
<!--											<ul class="multi-column-dropdown">-->
<!--												<li><a href="products.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Organic Food</a></li>-->
<!--												<li><a href="products.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gifts finder</a></li>-->
<!--												<li><a href="products.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Home Decor</a></li>-->
<!--												<li><a href="products.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Furnitures</a></li>-->

<!--											</ul>-->
<!--										</div>-->
<!--										<div class="col-sm-4 w3l">-->
<!--											<a href="women.html"><img src="images/menu1.jpg" class="img-responsive" alt=""></a>-->
<!--										</div>-->
<!--										<div class="clearfix"></div>-->
<!--									</div>-->
<!--								</ul>-->
<!--						</li>-->
						<li><a href="/shop.html" class="hyper"><span>Shop</span></a></li>
				   		<li><a href="/contact.html" class="hyper"><span>Contact Us</span></a></li>

						{% if user.is_authenticated %}
							<li><a href="/accounts/logout" class="hyper"><span>Sign Out</span></a></li>
							<li style="padding-top: 13px; padding-left:30px;"><span>Hello, {{user.username}}</span></li>
                        {% else %}
						<li><a href="/accounts/login" class="hyper"><span>Sign In</span></a></li>
						<li><a href="/accounts/register" class="hyper"><span>Sign Up</span></a></li>
						{% endif %}

					</ul>
				</div>
			</nav>
		</div>
		<script>
				$(document).ready(function(){
					$(".dropdown").hover(
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');
						}
					);
				});
		</script>
		<div class="col-md-4 search-agileinfo">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Search for a Product..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
			</form>
		</div>
		<div class="col-md-1 cart-wthree">
			<div class="cart">
<!--				<form action="#" method="post" class="last">-->
<!--					{% csrf_token %}-->
<!--					<input type="hidden" name="cmd" value="_cart" />-->
<!--					<input type="hidden" name="display" value="1" />-->
<!--					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>-->
<!--				</form>-->
				<a href="/cart.html">
<!--				  <span class="glyphicon glyphicon-shopping-cart "></span>-->
					<img  src="{% static 'images/cart.png' %}" alt=" " />
					<span class="badge badge-warning" id="cart-total">{{cartItems}}</span>
				</a>
			</div>

		</div>
		<div class="clearfix"></div>
	</div>
</div>

{% block content %}

{% endblock %}
<div class="footer">
	<div class="container">
		<div class="clearfix"></div>
		<p class="copy-right">© 2020 Trendz Make . All rights reserved | </a></p>
	</div>
</div>
	<!-- cart-js -->
<!--	<script src="{% static 'js/minicart.js' %}"></script>-->
<!--	<script>-->
<!--        w3ls1.render();-->

<!--        w3ls1.cart.on('w3sb1_checkout', function (evt) {-->
<!--        	var items, len, i;-->

<!--        	if (this.subtotal() > 0) {-->
<!--        		items = this.items();-->

<!--        		for (i = 0, len = items.length; i < len; i++) {-->
<!--        			items[i].set('shipping', 0);-->
<!--        			items[i].set('shipping2', 0);-->
<!--        		}-->
<!--        	}-->
<!--        });-->
<!--    </script>-->
	<!-- //cart-js -->
	<script src="{% static 'js/cart.js' %}"></script>
</body>
</html>