{% extends 'base.html' %}
{% block content %}
 {% load static %}
<div class="about">
	<div class="container">
        <div class="about-info">
            <div class="col-md-6 about-grids">
             <h3 style="text-align:left; margin-bottom:30px; color:#6de78c; background-color:#f8f8f8; border-bottom: solid 2px #2c2323;">Your Cart :{{cartItems}}</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Total</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td><img src="{{item.product.image.url}}" class="img-cart"></td>
                                    <td><strong>{{item.product.name}}</strong></td>
                                    <td>Rs. {{item.product.price}}</td>
                                    <td>
                                    <form>
                                        <span class="badge badge-danger">{{item.quantity}}</span></form>
                                    </td>
                                    <td>Rs. {{item.get_total}}</td>
                                </tr>
                                 {% endfor %}
                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>

                                <tr style="background-color:#eeeeee;">
                                    <td colspan="4" class="text-right"><strong>Total</strong></td>
                                    <td>Rs. {{order.get_cart_total}}</td>
                                </tr>
                            </tbody>

                        </table>
			</div>
			<div class="col-md-6 about-grids" id="shipping-info">
               <div class="form">
					<h3 style="text-align:left; margin-bottom:30px; color:#6de78c; background-color:#f8f8f8; border-bottom: solid 2px #2c2323;">Shipping At</h3>
					<form action="/" method="post" id="form" class="form">
						{% csrf_token %}
						<div class="form-group">
                            <input class="form-control"  type="text"  name="firstname" required=""  placeholder="First Name">
                            <input class="form-control"  type="text"  name="lastname" required=""  placeholder="Last Name">
							<div class="clearfix"></div>
						</div>
                        <br/>
                        <div class="form-group">
                            <input class="form-control"  type="text"  name="email"  required=""  placeholder="Email">
                            <input class="form-control"  type="text"  name="mobile"  required=""  placeholder="Mobile No.">
							<div class="clearfix"></div>
						</div>
                        <br/>
                        <div class="form-group">
                            <input class="form-control" type="text"  name="address1"  required=""  placeholder="Address1">
                            <input class="form-control" type="text"  name="address2"  required=""  placeholder="Address2">
							<div class="clearfix"></div>
						</div>
                        <br/>
                        <div class="form-group">
                            <input class="form-control" type="text"  name="town"  required=""  placeholder="Town">
                            <select class="form-control" name="city" >
                              <option selected>City</option>
                              <option value="1">Nagpur</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
							<div class="clearfix"></div>
						</div>
                        <br/>
                        <div class="form-group">
                            <select class="form-control" name="state">
                              <option selected>State</option>
                              <option value="1">Maharashtra</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <input class="form-control" type="text"  name="zipcode"  required=""  placeholder="Zipcode">
                        </div>
                        <br/>
<!--                        <a href="/payment.html" class="btn btn-success" id="form-button" style="width:100%;">Place Order</a>-->
                        <input type="submit" value="Place Order" class="btn btn-success" id="form-button" style="width:100%">

                    </form>
				</div>
                <div class="box-element hidden" id="payment-info">
                    <div class="container bootstrap snippets bootdey">
                        <div class="col-md-6 content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-info panel-shadow">
                                        <div class="panel-body" style="width:100%;">
                                            <h3>Choose Your Payment Method</h3>
                                            <div class="payment-method" style="padding:20px; text-align:center;">
                                                <a class="btn btn-success" data-toggle="collapse" href="#upi" role="button" aria-expanded="false" aria-controls="collapseExample" id="make-payment">
                                                    UPI
                                                </a>
                                                <a class="btn btn-success" data-toggle="collapse" href="#card-method" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                    Credit/Debit Card
                                                </a>
<!--                                                <script-->
<!--                                                        src="https://checkout.razorpay.com/v1/checkout.js"-->
<!--                                                        data-key="rzp_test_AKn8VLbtx81g16"-->
<!--                                                        data-amount="{{order.get_cart_total}}"-->
<!--                                                        data-currency="INR"-->
<!--                                                        data-buttontext="Pay Now"-->
<!--                                                        data-name="Trendz Make"-->
<!--                                                        data-theme.color="#F37254"-->
<!--                                                    ></script>-->

<!--                                                <div id="paypal-button-container"></div>-->
<!--                                                <form action="success" method="POST">-->
<!--                                                    {% csrf_token %}-->
<!--                                                    <script-->
<!--                                                        src="https://checkout.razorpay.com/v1/checkout.js"-->
<!--                                                        data-key="rzp_test_AKn8VLbtx81g16"-->
<!--                                                        data-amount="{{order.get_cart_total}}"-->
<!--                                                        data-currency="INR"-->
<!--                                                        data-buttontext="Pay with Razorpay"-->
<!--                                                        data-name="Trendz Make"-->
<!--                                                        data-theme.color="#F37254"-->
<!--                                                    ></script>-->
<!--                                                    <input type="hidden" custom="Hidden Element" name="hidden">-->
<!--                                                </form>-->
<!--                                                <div class="collapse" id="upi">-->
<!--                                                    <div class="card card-body">-->

<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="collapse" id="card-method" style="padding-top:20px;">-->
<!--                                                    <div class="card card-body">-->
<!--                                                        <div class="form">-->
<!--                                                            <h3 style="text-align:left; margin-bottom:30px; color:#6de78c; background-color:#f8f8f8; border-bottom: solid 2px #2c2323;">Card Details</h3>-->
<!--                                                            <form action="" method="post" id="form" class="form">-->
<!--                                                                {% csrf_token %}-->
<!--                                                                <div class="form-group">-->
<!--                                                                    <input class="form-control"  type="text"  name="username" required=""  placeholder="Name On Card">-->
<!--                                                                    <div class="clearfix"></div>-->
<!--                                                                </div>-->
<!--                                                                <br/>-->
<!--                                                                <div class="form-group">-->
<!--                                                                    <div class="form-group"> <input type="text" name="cardNumber" placeholder="Valid card number" style="width:42%;" class="form-control " required>-->
<!--                                                                         <span class="form-group-text text-muted"> <i class="fa fa-cc-visa mx-1"></i> <i class="fa fa-cc-mastercard mx-1"></i> <i class="fa fa-cc-amex mx-1"></i> </span>-->
<!--                                                                    </div>-->
<!--                                                                    <div class="clearfix"></div>-->
<!--                                                                </div>-->
<!--                                                                <br/>-->
<!--                                                                <div class="form-group" >-->
<!--                                                                    <select class="form-control" style="width:16%;" >-->
<!--                                                                      <option selected>Expiry Month</option>-->
<!--                                                                      <option >January</option>-->
<!--                                                                      <option value="1">February</option>-->
<!--                                                                      <option value="2">March</option>-->
<!--                                                                      <option value="3">April</option>-->
<!--                                                                        <option >May</option>-->
<!--                                                                      <option value="1">June</option>-->
<!--                                                                      <option value="2">July</option>-->
<!--                                                                      <option value="3">August</option>-->
<!--                                                                        <option >September</option>-->
<!--                                                                      <option value="1">October</option>-->
<!--                                                                      <option value="2">November</option>-->
<!--                                                                      <option value="3">December</option>-->
<!--                                                                    </select>-->
<!--                                                                    <select class="form-control" style="width:16%;" >-->
<!--                                                                        <option selected>Expiry Year</option>-->
<!--                                                                      <option value="1">2023</option>-->
<!--                                                                      <option value="2">2024</option>-->
<!--                                                                      <option value="3">2025</option>-->
<!--                                                                        <option >2026</option>-->
<!--                                                                      <option value="1">2027</option>-->
<!--                                                                      <option value="2">2028</option>-->
<!--                                                                      <option value="3">2029</option>-->
<!--                                                                        <option >2030</option>-->
<!--                                                                      <option value="1">2031</option>-->
<!--                                                                      <option value="2">2032</option>-->
<!--                                                                      <option value="3">2033</option>-->
<!--                                                                    </select>-->
<!--                                                                    <input class="form-control" type="text"  name="email"  required=""  placeholder="CCV" style="width:16%;">-->
<!--                                                                    <div class="clearfix"></div>-->
<!--                                                                </div>-->
<!--                                                                <br/>-->
<!--                                                                <a href="/payment.html" class="btn btn-success" id="form-button" style="width:100%;">Continue</a>-->
<!--                                        &lt;!&ndash;                        <input type="submit" value="Continue" class="btn btn-success" id="form-button" style="width:100%">&ndash;&gt;-->
<!--                                                            </form>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //about -->
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD&disable-funding=bancontact"></script>

<script>
    var total = '{{order.get_cart_total}}'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
</script>
<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'

    if(shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    if(user != 'AnonymousUser'){
      //  document.getElementById('user-info').innerHTML = ''
    }

    if (shipping == 'False' && user != 'AnonymousUser'){

    }

    var form = document.getElementById('form')

    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form Submitted...')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })
  /*  document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
        })
*/

    function submitFormData(){
        console.log('Payment button clicked')

        var userFormData = {
            'username':null,
            'email':null,
            'total':total,
        }

        var shippingInfo = {
            'firstname':null,
            'lastname':null,
            'mobile':null,
            'address1':null,
            'address2':null,
            'town':null,
            'city':null,
            'state':null,
            'zipcode':null

        }

        if(shipping != 'False'){
            shippingInfo.firstname = form.firstname.value
            shippingInfo.lastname = form.lastname.value
            shippingInfo.mobile = form.mobile.value
            shippingInfo.address1 = form.address1.value
            shippingInfo.address2 = form.address2.value
            shippingInfo.town = form.town.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }
        if(user == 'AnonymousUser'){
            userFormData.username = form.name.value
            userFormData.email = form.email.value
        }

        var url = '/process_order/'
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');
            window.location.href = "{% url 'shop' %}"
        })

    }

</script>
{% endblock %}