 {% extends 'base.html' %}
{% block content %}
 {% load static %}

<div class="contact">
	<div class="container">
		<h3>Contact Us</h3>
		<div class="col-md-3 col-sm-3 contact-left">
			<div class="address">
				<h4>ADDRESS</h4>
				<h5>Office No: 9, 3rd floor, Snehadeep business tower</h5>
				<h5>Warje, Pune - 411058</h5>
				<h5>Maharashtra India</h5>
			</div>
			<div class="phone">
				<h4>PHONE</h4>
				<h5>+917507473366</h5>
			</div>
			<div class="email">
				<h4>EMAIL</h4>
				<h5><a href="mailto:trendzmake@gmail.com">trendzmake@gmail.com</a></h5>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 contact-right">
			<form action="#" method="post">
				<input type="text" name="your name" placeholder="Your name" required=" ">
				<input type="text" name="your email" placeholder="Your email" required=" ">
				<input type="text" name="your subject" placeholder="Your subject" required=" ">
				<input type="text" name="your phone number" placeholder="Phone number" required=" ">
				<textarea  name="your message" placeholder="Your message" required=" "></textarea>
				<input type="submit" value="Send message">
			</form>
		</div>
	</div>
</div>
<div class="map-w3ls">
	<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3784.091448306261!2d73.80217044998565!3d18.479516475190948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sOffice%20No%3A%209%2C%203rd%20floor%2C%20Snehadeep%20business%20tower%20Warje%2C%20Pune%20-%20411058!5e0!3m2!1sen!2sin!4v1607345499756!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
 {% endblock %}