 {% extends 'base.html' %}
{% block content %}
 {% load static %}


    <h3 style="text-align:left; margin-bottom:30px; color:#6de78c; background-color:#f8f8f8; border-bottom: solid 2px #2c2323;">Shipping At</h3>
    <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control"  type="hidden" name="amount" required=""  placeholder="Last Name">
                Rs{% for charector in charectors %}
                    {% if forloop.last %}
                        {{charector.your_price|add:product.last.base_price}}
                    {% endif %}
                {% endfor %}
            </input>
            <input class="form-control"  type="hidden" name="name_on_plate" required=""  placeholder="Last Name">
                Your Name On Plate:
                <span style="color:#00e58b;">
                    {% for charector in charectors %}
                      {% if forloop.last %}
                        {{charector.name}}
                      {% endif %}
                    {% endfor %}
                </span>
            </input>
            <div class="clearfix"></div>
        </div>
        <br/>
        <div class="form-group">
            <input class="form-control"  type="text"   name="first_name" required=""  placeholder="First Name">
            <input class="form-control"  type="text"   name="last_name" required=""  placeholder="Last Name">
            <div class="clearfix"></div>
        </div>
        <br/>
        <div class="form-group">
            <input class="form-control"  type="text"   name="email"  required=""  placeholder="Email">
            <input class="form-control"  type="text"  name="mobile"  required=""  placeholder="Mobile No.">
            <div class="clearfix"></div>
        </div>
        <br/>
        <div class="form-group">
            <textarea class="form-control" type="textarea" name="address"  required=""  placeholder="Address1"></textarea>
<!--											<input class="form-control" type="text"  name="address2"  required=""  placeholder="Address2">-->
            <div class="clearfix"></div>
        </div>
        <br/>
        <div class="form-group">
            <input class="form-control" type="text" name="town"  required=""  placeholder="Town">
            <select class="form-control" name="city" >
              <option value="" disabled selected>City</option>
              <option value="1">Ahmednagar</option>
              <option value="2">Akola</option>
              <option value="3">Amravati</option>
              <option value="1">Aurangabad</option>
              <option value="2">Beed</option>
              <option value="3">Bhandara</option>
              <option value="1">Buldhana</option>
              <option value="2">Chandrapur</option>
              <option value="3">Dhule</option>
              <option value="1">Gadchiroli</option>
              <option value="2">Gondia</option>
              <option value="3">Hingoli</option>
              <option value="1">Jalgaon</option>
              <option value="2">Jalna</option>
              <option value="3">Kolhapur</option>
              <option value="1">Latur</option>
              <option value="2">Mumbai Suburban</option>
              <option value="3">Nagpur</option>
              <option value="1">Nanded</option>
              <option value="2">Nandurbar</option>
              <option value="3">Nashik</option>
              <option value="1">Osmanabad</option>
              <option value="2">Parbhani</option>
              <option value="3">Pune</option>
              <option value="1">Raigad</option>
              <option value="2">Ratnagiri</option>
              <option value="3">Sangli</option>
              <option value="1">Satara</option>
              <option value="2">Sindhudurg</option>
              <option value="3">Solapur</option>
              <option value="2">Thane</option>
              <option value="3">Washim</option>
              <option value="1">Wardha</option>
              <option value="2">Yavatmal</option>
            </select>
            <div class="clearfix"></div>
        </div>
        <br/>
        <div class="form-group">
            <select class="form-control" name="state">
              <option value="" disabled selected>State</option>
              <option value="1">Maharashtra</option>
            </select>
            <input class="form-control" type="text"  name="zip_code"  required=""  placeholder="Zipcode">
        </div>
        <br/>
        <h3>For placed your Order Pay Your Price on UPI => <br/><br/><span style="color:red;">9561301779@ybl</span></h3>
        <div class="transaction-input" style="text-align:center;">
            <input class="form-control"  type="text"  name="transaction_no"  required=""  placeholder="Transaction Number">
        </div>
        <div class="modal-footer">
            <h3>Fill The Transaction Number Before Order Placed..</h3>
        </div>
        <input type="submit" value="Place Order" class="btn btn-success" id="form-button" style="width:100%">
    </form>



 {% endblock %}