 {% extends 'base.html' %}
{% block content %}
 {% load static %}
 <div class="products" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

		<div class="container">
			<div class="single-page">
				<div class="single-page-row" id="detail-21">

					<div class="col-md-6 single-top-left">
{% for prod in product %}
						<div class="flexslider">

							<ul class="slides">

								<li data-thumb="{{prod.imageURL}}">

									<div class="thumb-image"> <img src="{{prod.imageURL}}" data-imagezoom="true" class="img-responsive" alt=""> </div>

								</li>
							</ul>

						</div>

{% endfor %}
					</div>
{% for prod in product %}
					<div class="col-md-6 single-top-right">
						<h3 class="item_name" id="product-name"> {{prod.name}}</h3>
						<p>Processing Time: Item will be shipped out within 7-10 working days. </p>
						<div class="single-price">
							<ul>
<!--								<li>Your Price : Rs {{your_price}} </li>-->
							</ul>
						</div>
						<p class="single-price-text">{{prod.desc}} </p>
						<p>Your price vary according to the characters. </p>
						<form action="" method="POST" class="form-inline">
							{% csrf_token %}
							<div class="form-group mb-2">
								{{ form.as_p }}
							</div>
							<input type="Submit" name="submit" value="Submit & Pay" id="show"  class="btn btn-primary mb-2"  style="margin-left: 30px;"/>
						</form>
						<br><br>
						<div class="toshow" id="toshow" style="display:none;" >Your Price :  {% for charector in charectors %}
								{% if forloop.last %}
								<span style="color:#f50424;" id="your-price">{{charector.your_price|add:product.last.base_price}}</span>
								<input type="button" value="Pay Now" onclick="getDisplay()" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" />
<!--									<a class="form-control" type="text" href="/order.html" >Pay Now</a>-->
								{% endif %}
								{% endfor %}
							</div>
					</div>

{% endfor %}
					<div class="clearfix"> </div>


						<!-- Modal -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<h3 class="modal-title" id="exampleModalCenterTitle">
									Your Price : Rs {% for charector in charectors %}
											{% if forloop.last %}
												{{charector.your_price|add:product.last.base_price}}
											{% endif %}
										{% endfor %}
								</h3>
								<h4>Your Name On Plate:
									<span style="color:#00e58b;">
										{% for charector in charectors %}
										  {% if forloop.last %}
											{{charector.name}}
										  {% endif %}
										{% endfor %}
									</span>
								</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							  </div>
							  <div class="modal-body">
								  <div class="form">
									<h3 style="text-align:left; margin-bottom:30px; color:#6de78c; background-color:#f8f8f8; border-bottom: solid 2px #2c2323;">Shipping At</h3>
									<form action="/order/" method="post" class="form" id="post-form">
										{% csrf_token %}
											<input class="form-control" id="name" onclick="this.value=''" type="hidden" name="name_on_plate" placeholder="Enter Name On Plate" required="">
											<input class="form-control" id="amount" type="hidden" name="amount"required="">
											<input class="form-control" id="frame" type="hidden" name="frame"required="">
										</div>
										<br/>
										<div class="form-group">
											<input class="form-control"  type="text"   name="first_name" required=""  placeholder="First Name">
											<input class="form-control"  type="text"   name="last_name" required=""  placeholder="Last Name">
											<div class="clearfix"></div>
										</div>
										<br/>
										<div class="form-group">
											<input class="form-control"  type="text"   name="email"  required=""  placeholder="Email">
											<input class="form-control"  type="text"  name="mobile"  required=""  placeholder="Mobile No.">
											<div class="clearfix"></div>
										</div>
										<br/>
										<div class="form-group">
											<textarea class="form-control" type="textarea" name="address"  required=""  placeholder="Address1"></textarea>
<!--											<input class="form-control" type="text"  name="address2"  required=""  placeholder="Address2">-->

											<div class="clearfix"></div>
										</div>
										<br/>
										<div class="form-group">
											<input class="form-control" type="text" name="town"  required=""  placeholder="Town">
											<select class="form-control" name="city" >
											  <option value="" disabled selected>City</option>
											  <option value="1">Ahmednagar</option>
											  <option value="2">Akola</option>
											  <option value="3">Amravati</option>
											  <option value="1">Aurangabad</option>
											  <option value="2">Beed</option>
											  <option value="3">Bhandara</option>
											  <option value="1">Buldhana</option>
											  <option value="2">Chandrapur</option>
											  <option value="3">Dhule</option>
											  <option value="1">Gadchiroli</option>
											  <option value="2">Gondia</option>
											  <option value="3">Hingoli</option>
											  <option value="1">Jalgaon</option>
											  <option value="2">Jalna</option>
											  <option value="3">Kolhapur</option>
											  <option value="1">Latur</option>
											  <option value="2">Mumbai Suburban</option>
											  <option value="3">Nagpur</option>
											  <option value="1">Nanded</option>
											  <option value="2">Nandurbar</option>
											  <option value="3">Nashik</option>
											  <option value="1">Osmanabad</option>
											  <option value="2">Parbhani</option>
											  <option value="3">Pune</option>
											  <option value="1">Raigad</option>
											  <option value="2">Ratnagiri</option>
											  <option value="3">Sangli</option>
											  <option value="1">Satara</option>
											  <option value="2">Sindhudurg</option>
											  <option value="3">Solapur</option>
											  <option value="2">Thane</option>
											  <option value="3">Washim</option>
											  <option value="1">Wardha</option>
											  <option value="2">Yavatmal</option>
											</select>
											<div class="clearfix"></div>
										</div>
										<br/>
										<div class="form-group">
											<select class="form-control" name="state">
											  <option value="" disabled selected>State</option>
											  <option value="1">Maharashtra</option>
											</select>
											<input class="form-control" type="text"  name="zip_code"  required=""  placeholder="Zipcode">
										</div>
<!--										<br/>-->
<!--										<h3>For placed your Order Pay Your Price on UPI => <br/><br/><span style="color:red;">9561301779@ybl</span></h3>-->
<!--										<div class="transaction-input" style="text-align:center;">-->
<!--											<input class="form-control"  type="text"  name="transaction_no"  required=""  placeholder="Transaction Number">-->
<!--										</div>-->

<!--										<div class="modal-footer">-->
<!--											<h3>Fill The Transaction Number Before Order Placed..</h3>-->
<!--										</div>-->
										<input type="submit" value="Place Order" class="btn btn-success" id="form-button"  style="width:100%">
									</form>
								</div>
							  </div>
							</div>
						  </div>
						</div>

						</div>
				</div>
			</div>
{% for prod in product %}
			<!-- collapse-tabs -->
			<div class="collpse tabs">
				<h3 class="w3ls-title">About this item</h3>
				<div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<i class="fa fa-file-text-o fa-icon" aria-hidden="true"></i> Description <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								{{prod.desc}}
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="fa fa-info-circle fa-icon" aria-hidden="true"></i> additional information <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<i class="fa fa-check-square-o fa-icon" aria-hidden="true"></i> reviews (5) <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //collapse -->
{% endfor %}
		</div>
	</div>
<script type="text/javascript">
 var $hidden = $('#toshow');

localStorage.getItem('show') && $hidden.show();

$('#show').on('click',function() {
  localStorage.setItem('show',true);
  window.location.reload(false);
})
</script>
 <script type="text/javascript">

 </script>
 <script type="text/javascript">
 	function getDisplay(){
		var a = document.getElementById("post-text").value;
		var b = document.getElementById("your-price").innerHTML;
		var c = document.getElementById("product-name").innerHTML;
		document.getElementById("name").value = a;
		document.getElementById("amount").value = b;
		document.getElementById("frame").value = c;
	}

 </script>
 <script type="text/javascript">
 function form-button(){
	alert("Your Order Placed Successfully...!")
	}
 </script>
 {% endblock %}
